<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="layout/plantilla :: head">
        <title>Datosdel usuario</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Datos del Libro</h1>
        <a th:href="@{/}">regresar</a>
        <form th:action="@{guardarpassC}" method="post" th:object="${usuario}">
            <input type="hidden" name="idUsuario" th:field="*{idUsuario}"/>
            <br/>
            <label for="user">[[#{usuario.nombre}]]:</label>
            <input type="text" name="user" th:field="*{user}"></input>
            <span th:if="${#fields.hasErrors('user')}" th:errors="*{user}">Error nombre</span>

            <br/>
            <label for="password">password</label>
            <input type="text" name="password" th:field="*{password}"/>
            <br/>
            <label for="confirmpass">confirma pass</label>
            <input type="text" name="confirmpass" th:field="*{confirmpass}" />

            <br/>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>

    </body>
</html>
