<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="layout/plantilla :: head">
        <title>Datosdel usuario</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Datos del Libro</h1>
        <a th:href="@{/}">regresar</a>
        <form th:action="@{/guardar}" method="post" th:object="${persona}" >
            <input type="hidden" name="idPersona" th:field="*{idPersona}"/>

            <br/>
            <label for="nombre">[[#{usuario.nombre}]]:</label>
            <input type="text" name="nombre" th:field="*{nombre}"></input>
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error nombre</span>

            <br/>
            <label for="apellido">[[#{usuario.apellido}]]:</label>
            <input type="text" name="apellido" th:field="*{apellido}"/>

            <br/>
            <label for="user">[[#{usuario.user}]]:</label>
            <input type="text" name="user" th:field="*{user}"/>

            <br/>
            <label for="password">[[#{usuario.password}]]:</label>
            <input type="text" name="password" th:field="*{password}"/>

            <br/>
            <label for="email">[[#{usuario.email}]]:</label>
            <input type="text" name="email" th:field="*{email}"/>

            <br/>
            <label for="preguntasecreta">[[#{usuario.secret}]]:</label>
            <input type="text" name="secret" th:field="*{preguntasecreta}"/>


            <br/>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>

    </body>
</html>
