<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Inicio</h1>
        <p th:text="Saludos2"></p>
        <p th:text="${saludar}"></p>
        <p th:text="${SaludoX}"></p>
        <br/>
        nombre:<span th:text="${libro.nombre}">Mostrar Nombre</span>
        <br/>
        autor:<span th:text="${libro.autor}">Mostrar Nombre</span>
        <br/>
        editorial:<span th:text="${libro.editorial}">Mostrar Nombre</span>
        <br/>
        costo:<span th:text="${libro.costo}">Mostrar Nombre</span>
    </body>
</html>
