<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <br/>
        <a th:href="@{/agregar}">Crear Libro</a>
        <div th:if="${libros != null && !libros.empty}" >
            
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Autor</th>
                    <th>editorial</th>
                    <th>costo</th>
                    <th>Editar</th>
                    <th>Eliminar</th><!-- comment -->
                </tr>

                <tr th:each="libro:${libros}">
                    <td th:text="${libro.nombrelibro}">Mostrar Nombre</td>
                    <td th:text="${libro.autor}">Mostrar Nombre</td>
                    <td th:text="${libro.editorial}">Mostrar Nombre</td>
                    <td th:text="${libro.costo}">Mostrar Nombre</td>
                    <td><a th:href="@{/editar/} + ${libro.idLibro}" th:text="Editar"/></td>
                    <!--<td><a th:href="@{/eliminar/} + ${libro.idLibro}" th:text="Eliminar"/></td>-->
                    <td><a th:href="@{/eliminar(idLibro=${libro.idLibro})}" th:text="Eliminar"/></td>

                </tr>
            </table>    
        </div>
        <div th:if="${libros == null or libros.empty}" >
            La Lista esta vacia
        </div>
    </body>
</html>
